<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "INFO_PASANG_SURUT" | translate }}</ion-title>
  </ion-navbar>
</ion-header>






<ion-content padding>


  <ion-row>
    <ion-col width-100 text-right class="date-top"><ion-datetime displayFormat="DDDD DD MMM YYYY" [(ngModel)]="myDate" disabled></ion-datetime></ion-col>
  </ion-row>


  <ion-row>

<ion-item class="pasang-state">
  <ion-label>{{ "SELECT_STATE" | translate }}</ion-label>

  <ion-select name="state_id" [(ngModel)]="state_id" (ionChange)="optionsFn();">
    <ion-option *ngFor="let state of states" value="{{state.id}}">{{state.name}}</ion-option>
  </ion-select>
</ion-item>

  </ion-row>

  
<ion-row *ngFor="let location of locations">



  

    <ion-list class="pasang-wrap">


  <ion-item text-wrap (click)="toggleGroup(location.id)" [ngClass]="{active: isGroupShown(location.id)}">
    <h3>
    

     <button ion-button (click)="responseData(location)">{{location.name}} - {{location.id}}</button>


      <ion-icon color="success" [name]="isGroupShown(location.id) ? 'arrow-up' : 'arrow-down'"></ion-icon>
    </h3>
    <div *ngIf="isGroupShown(location.id)">

      <div class="data-wrap">

        <ion-list>
    <ion-item *ngFor="let response of responses">

{{response.today.min.date}}

    </ion-item>
  </ion-list>



      <ion-row>
        
          <h1 class="date-details-info"></h1>
      </ion-row>

        <ion-row>
          <div class="content-details-info">

            <ion-row class="content-details-header">
              <ion-col width-50>Masa</ion-col>
               <ion-col width-50>Ketinggian (cm)</ion-col>
            </ion-row>

            <ion-row>
              <ion-col width-50>2:0</ion-col>
               <ion-col width-50>56</ion-col>
            </ion-row>

            <ion-row>
              <ion-col width-50>18:45</ion-col>
               <ion-col width-50>164</ion-col>
            </ion-row>

          </div>

      </ion-row>
      </div>


 <div class="data-wrap">
      <ion-row>
        
          <h1 class="date-details-info">Selasa, 07 Mac 2017</h1>
      </ion-row>

        <ion-row>
          <div class="content-details-info">

            <ion-row class="content-details-header">
              <ion-col width-50>Masa</ion-col>
               <ion-col width-50>Ketinggian (cm)</ion-col>
            </ion-row>

            <ion-row>
              <ion-col width-50>2:0</ion-col>
               <ion-col width-50>56</ion-col>
            </ion-row>

            <ion-row>
              <ion-col width-50>18:45</ion-col>
               <ion-col width-50>164</ion-col>
            </ion-row>

          </div>

      </ion-row>
      </div>
    

    </div>
  </ion-item>



</ion-list>


  </ion-row>





</ion-content>


<ion-footer class="footer-apps">

  <ion-grid>
  <ion-row>
    <ion-col width-50 text-left><img src="assets/images/maritim.png" ></ion-col>

    <ion-col width-50 text-right><img src="assets/images/tldm.png" ></ion-col>


  </ion-row>
  </ion-grid>

</ion-footer>