<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "INFO_PASANG_SURUT" | translate }}</ion-title>
     <ion-buttons end class="logo-top">
       <img src="assets/images/logo.png">
    </ion-buttons>  
  </ion-navbar>
</ion-header>






<ion-content padding>


  <ion-row>
    <ion-col width-100 text-right class="date-top">
      
  
                    {{ moment().format('dddd, DD MMM YYYY') }}
      
     </ion-col>
  </ion-row>


  <ion-row>

<ion-item class="pasang-state">
  <ion-label>{{ "SELECT_STATE" | translate }}</ion-label>

  <ion-select name="state_id" [(ngModel)]="state_id" (ionChange)="optionsFn();">
    <ion-option *ngFor="let state of states" value="{{state.id}}">{{state.name}}</ion-option>
  </ion-select>
</ion-item>

  </ion-row>

  
<ion-row *ngFor="let location of locations">



  

    <ion-list class="pasang-wrap">


  <ion-item text-wrap (click)="toggleGroup(location.id)" [ngClass]="{active: isGroupShown(location.id)}">
    <h3 (click)="responseData(location)">
    
    {{location.name}}


      <ion-icon color="success" [name]="isGroupShown(location.id) ? 'arrow-up' : 'arrow-down'"></ion-icon>
    </h3>
    <div *ngIf="isGroupShown(location.id)">

      <div class="data-wrap" *ngIf="responses">
        <ion-row>
            <div class="content-details-info">
                <ion-row class="content-details-header">
                    <ion-col col-4>Tarikh</ion-col>
                    <ion-col col-4>Masa</ion-col>
                    <ion-col col-4>Ketinggian (m)</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col width-33 style="text-align: center;">
                        {{responses.today[0].date}}
                    </ion-col>
                    <ion-col width-63 style="padding: 0px; border: 0;">
                        <ion-row *ngFor="let item of responses.today">
                            <ion-col width-50 style="text-align: center;">{{ pad(item.time, 4) }}</ion-col>
                            <ion-col width-50 style="text-align: center;">{{item.height}}</ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </div>
        </ion-row>

      </div>


    <div class="data-wrap" *ngIf="responses">
        <ion-row>
            <div class="content-details-info">
                <ion-row class="content-details-header">
                    <ion-col col-4>Tarikh</ion-col>
                    <ion-col col-4>Masa</ion-col>
                    <ion-col col-4>Ketinggian (m)</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col width-33 style="text-align: center;">
                        {{responses.tomorrow[0].date}}
                    </ion-col>
                    <ion-col width-63 style="padding: 0px; border: 0;">
                        <ion-row *ngFor="let item of responses.tomorrow">
                            <ion-col width-50 style="text-align: center;">{{ pad(item.time, 4) }}</ion-col>
                            <ion-col width-50 style="text-align: center;">{{item.height}}</ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </div>
        </ion-row>

      </div>
    

    </div>
  </ion-item>



</ion-list>


  </ion-row>





</ion-content>


<ion-footer class="footer-apps">

  <ion-grid>
  <ion-row>


   <ion-col width-100 text-right class="footer-logo"><img src="assets/images/footerLogo.png" > </ion-col>

  </ion-row>
  </ion-grid>

</ion-footer>