<ion-header>

  <ion-navbar>
    <ion-title>DAFTAR</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="registerWrap">

<!-- <ion-row padding class="register-welcome">
  <ion-col>

    Selamat Datang
  </ion-col>

</ion-row> -->

<ion-row padding class="register-input">
      <ion-col>

<form>

<ion-list>

          <ion-item>
            <ion-input name="fullname" type="text" [(ngModel)]="account.fullname" placeholder="Nama"></ion-input>
          </ion-item>


          <ion-item>
      
            <ion-input name="ic_number" type="number" [(ngModel)]="account.ic_number" placeholder="No MyKad"></ion-input>
          </ion-item>



          <ion-item>
    
          <ion-input name="phone_number" type="number" [(ngModel)]="account.phone_number" placeholder="No Telefon Bimbit"></ion-input>
          </ion-item>

<ion-item>
      
            <ion-input name="username" type="text" [(ngModel)]="account.username" placeholder="ID Penggguna"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input name="password" type="password" [(ngModel)]="account.password" placeholder="Kata Laluan"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label>Lokasi</ion-label>
            
              <ion-select name="state" [(ngModel)]="account.state" required>
                <ion-option *ngFor="let state of states" value="{{state.name}}" >{{state.name}}</ion-option>
                
              </ion-select>
            </ion-item>

          <ion-item>
  <ion-label>Kategori Pengguna</ion-label>

  <ion-select name="category_id" [(ngModel)]="account.category_id" (ionChange)="kategoriSelected()" required>
    <ion-option *ngFor="let kat of kategori" value="{{kat.id}}" >{{kat.name}}</ion-option>
    <!-- <ion-option value="2">Perikanan</ion-option>
     <ion-option value="3">Petroleum</ion-option>
      <ion-option value="4">Rekreasi</ion-option>
       <ion-option value="5">Lain-lain</ion-option> -->
  </ion-select>
</ion-item>

<ion-item *ngIf="!isEmpty(subkategori)">
    <ion-label>Subkategori Pengguna</ion-label>
    <ion-select name="subcategory_id" [(ngModel)]="account.subcategory_id">
      <ion-option *ngFor="let subkat of subkategori" value="{{subkat.id}}">{{subkat.name}}</ion-option>
      <!-- <ion-option value="1">Pelancongan</ion-option>
      <ion-option value="2">Perikanan</ion-option>
       <ion-option value="3">Petroleum</ion-option>
        <ion-option value="4">Rekreasi</ion-option>
         <ion-option value="5">Lain-lain</ion-option> -->
    </ion-select>
</ion-item>




        </ion-list>

        <ion-list>

          <button ion-button round (click)="register()" class="submitButton login-button">Daftar</button>  

        
        </ion-list>

  </form>



      </ion-col>

</ion-row>

</ion-content>
