<ion-header>
  <ion-navbar>
    <button ion-button icon-only (click)="dismiss()" class="close-btn">
      <ion-icon name="close" class="close-icon"></ion-icon>
    </button>
    <ion-title>Lupa Kata Laluan</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="currentStep==1" >
      <ion-card-header>
        Sila masukkan nombor telefon bimbit anda
      </ion-card-header>

      <ion-card-content>
          <form [formGroup]="checkPhoneNumberForm" (ngSubmit)="checkPhoneNumber()">
            <div class="item-padding">
              <ion-input type="number" placeholder="No Telefon Bimbit" formControlName="phoneNumber" class="kInput"></ion-input>
            </div>
            <button ion-button color="primary" full type="submit" [disabled]="!checkPhoneNumberForm.valid">Seterusnya</button>
          </form>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="currentStep==2" >
      <ion-card-header>
        Verifikasi nombor telefon
      </ion-card-header>

      <ion-card-content>
            <div class="item-padding">
              Hantar kod verifikasi ke: <strong>{{phoneNumber}}</strong>
            </div>
            <button ion-button color="primary" full (click)="verificationSendSMS()">Hantar</button>
      </ion-card-content>
    </ion-card>


    <ion-card *ngIf="currentStep==3" >
      <ion-card-header>
        Verifikasi nombor telefon
      </ion-card-header>

      <ion-card-content>
          <form [formGroup]="temporaryPasswordForm" (ngSubmit)="verificationCodeConfirm()">
            Kod verifikasi telah dihantar ke <strong>{{phoneNumber}}</strong>. Sila masukkan kod verifikasi:

            <div class="item-padding">
              <ion-input type="number" placeholder="Kod verifikasi" formControlName="verificationCode"></ion-input>
            </div>
            <button ion-button color="primary" full type="submit" [disabled]="!temporaryPasswordForm.valid">Seterusnya</button>
          </form>
      </ion-card-content>
    </ion-card>


    <ion-card *ngIf="currentStep==4" >
        <ion-card-header>
          Tukar kata laluan
        </ion-card-header>

        <ion-card-content>
            <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
              Sila masukkan kata laluan anda yang baru:
              <div class="item-padding">
                <ion-input type="password" placeholder="Kata laluan" formControlName="password"></ion-input>
                <br/>
                <ion-input type="password" placeholder="Masukkan semula kata laluan" formControlName="confirmPassword"></ion-input>
              </div>

              <ion-item  class="alert alert-danger" *ngIf="changePasswordForm.controls.confirmPassword.errors?.MatchPassword">Password not match</ion-item>

              <button ion-button color="primary" full type="submit" [disabled]="!changePasswordForm.valid">Kemaskini kata laluan</button>
            </form>
        </ion-card-content>
      </ion-card>



</ion-content>
