page-prihatin-success {
    .content-wrap {
    background: #FFF;
    padding: 10px;
    /* border-radius: 4px; */
}

.todayDate {
    color: #BCBEC0;
    text-align: right;
}
.detailInfo {
    background: #F0EFF4;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 4px;
}
.userDetail {
    margin-top: 25px;
    margin-bottom: 40px;
    border-bottom: 1px solid #BCBEC0;
    padding-bottom: 40px;
}


}
