page-tentang {

        img.about-logo {
            width: 60%;
            height: 40%;
            margin: 0px auto 30px auto;
        }
        .about-rakam {
    background: #FFF;
    border-radius: 4px;
    padding: 20px 15px;
    text-align: center;
}
}
