// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-content.content{
    background: #357A9D;
}

ion-header.header .toolbar-background{
    background: #000;
    color: #FFF;
}

ion-title.title .toolbar-title{
     color: #FFF;   
}
ion-title.title .toolbar-title{
    text-transform:uppercase;
}

button.submitButton {
    background: #c9ccd1;
    color: #000;
    border: 2px solid #a1a8b0;
    font-weight: bold;
    width: 100%;
}
.logo-top img {
    width: 40px;
}

.footer-apps{
    background: #000;
}
.footer-apps img {
    width: 70px;


}
span.button-inner {
  
}
.menu-inner ion-content{
    background: #2dabb9 !important;
}
.menu-inner button.item.item-block {
    background: #2dabb9;
    border: none !important;
    color: #FFF;
    /* font-weight: bold; */
}
.alert-radio-label {
    color: #000;
}
.bar-buttons,
.back-button {
    color: #FFF;
}
