<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "MEDIA_SOSIAL" | translate }}</ion-title>
        <ion-buttons end class="logo-top">
       <img src="assets/images/logo.png">
    </ion-buttons>  
  </ion-navbar>
</ion-header>





<ion-content padding>


<ion-list class="social-wrap">
  <ion-item text-wrap (click)="toggleGroup(1)" [ngClass]="{active: isGroupShown(1)}">
    <h3>
     TLDM
      <ion-icon color="success" item-right [name]="isGroupShown(1) ? 'arrow-up' : 'arrow-down'"></ion-icon>
    </h3>
    <div *ngIf="isGroupShown(1)">
      <ion-row>
      <img src="assets/images/socialFb.png"> <a onclick="window.open('https://www.facebook.com/RoyalMalaysianNavy/', '_system', 'location=yes'); return false;"> @RoyalMalaysianNavy</a>
      </ion-row>
       <ion-row>
      <img src="assets/images/socialTwitter.png"><a onclick="window.open('https://twitter.com/tldm_rasmi/', '_system', 'location=yes'); return false;">@tldm_rasmi</a>
      </ion-row>
      <ion-row>
      <img src="assets/images/scoialIg.png"> <a onclick="window.open('https://www.instagram.com/tldm_rasmi/?hl=en', '_system', 'location=yes'); return false;">@tldm_rasmi</a>
      </ion-row>
      <ion-row>
      <img src="assets/images/socialYoutube.png"> <a onclick="window.open('https://www.youtube.com/user/rmnwebmaster', '_system', 'location=yes'); return false;">@tldm_rasmi</a>
      </ion-row>
      <ion-row>
      <img src="assets/images/socialWeb.png"> <a onclick="window.open('https://www.navy.mil.my', '_system', 'location=yes'); return false;">www.navy.mil.my</a>
      </ion-row>
    </div>
  </ion-item>
</ion-list>

<ion-list class="social-wrap">
  <ion-item text-wrap (click)="toggleGroup(2)" [ngClass]="{active: isGroupShown(2)}">
    <h3>
     APMM
      <ion-icon color="success" item-right [name]="isGroupShown(2) ? 'arrow-up' : 'arrow-down'"></ion-icon>
    </h3>
    <div *ngIf="isGroupShown(2)">
      
<ion-row>
      <img src="assets/images/socialFb.png"><a onclick="window.open('https://www.facebook.com/maritimmalaysia/', '_system', 'location=yes'); return false;"> @maritimmalaysia</a>
      </ion-row>
       <ion-row>
      <img src="assets/images/socialTwitter.png"><a onclick="window.open('https://twitter.com/KPMaritimmsiasia/', '_system', 'location=yes'); return false;"> @KPMaritimmsia</a>
      </ion-row>
      <ion-row>
      <img src="assets/images/socialYoutube.png"><a onclick="window.open('https://www.youtube.com/user/MaritimMalaysia1', '_system', 'location=yes'); return false;"> @MaritimMalaysia1</a>
      </ion-row>
      <ion-row>
      <img src="assets/images/socialWeb.png"><a onclick="window.open('https://www.mmea.gov.my', '_system', 'location=yes'); return false">www.mmea.gov.my</a>
      </ion-row>

    </div>
  </ion-item>
</ion-list>


<ion-list class="social-wrap">
  <ion-item text-wrap (click)="toggleGroup(3)" [ngClass]="{active: isGroupShown(3)}">
    <h3>
     PDRM
      <ion-icon color="success" item-right [name]="isGroupShown(3) ? 'arrow-up' : 'arrow-down'"></ion-icon>
    </h3>
    <div *ngIf="isGroupShown(3)">

        <ion-row>
      <img src="assets/images/socialFb.png"> <a onclick="window.open('https://www.facebook.com/PolisDirajaMalaysia/', '_system', 'location=yes'); return false">Polis Diraja Malaysia</a>
      </ion-row>
       <ion-row>
      <img src="assets/images/socialTwitter.png"> <a onclick="window.open('https://twitter.com/pdrmsia/', '_system', 'location=yes'); return false">@pdrmsia</a>
      </ion-row>
      <ion-row>
      <img src="assets/images/scoialIg.png"><a onclick="window.open('https://www.youtube.com/user/pdrmsia_official', '_system', 'location=yes'); return false">@pdrmsia_official</a>
      </ion-row>

      <ion-row>
      <img src="assets/images/socialWeb.png"> <a onclick="window.open('https://www.navy.mil.my', '_system', 'location=yes'); return false">www.rmp.gov.my</a>
      </ion-row>


    </div>
  </ion-item>
</ion-list>





<ion-list class="social-wrap">
  <ion-item text-wrap (click)="toggleGroup(4)" [ngClass]="{active: isGroupShown(4)}">
    <h3>
     JKDM
      <ion-icon color="success" item-right [name]="isGroupShown(4) ? 'arrow-up' : 'arrow-down'"></ion-icon>
    </h3>
    <div *ngIf="isGroupShown(4)">

        <ion-row>
      <img src="assets/images/socialFb.png"> <a onclick="window.open('https://www.facebook.com/JabatanKastamDirajaMalaysia/', '_system', 'location=yes'); return false">@JabatanKastamDirajaMalaysia</a>
      </ion-row>
       <ion-row>
      <img src="assets/images/socialTwitter.png"> <a onclick="window.open('https://twitter.com/KastamMalaysia', '_system', 'location=yes'); return false">@KastamMalaysia</a>
      </ion-row>
 

      <ion-row>
      <img src="assets/images/socialWeb.png"> <a onclick="window.open('http://www.customs.gov.my/ms', '_system', 'location=yes'); return false">www.customs.gov.my</a>
      </ion-row>


    </div>
  </ion-item>
</ion-list>







<ion-list class="social-wrap">
  <ion-item text-wrap (click)="toggleGroup(5)" [ngClass]="{active: isGroupShown(5)}">
    <h3>
     SPRM
      <ion-icon color="success" item-right [name]="isGroupShown(5) ? 'arrow-up' : 'arrow-down'"></ion-icon>
    </h3>
    <div *ngIf="isGroupShown(5)">

        <ion-row>
      <img src="assets/images/socialFb.png"> <a onclick="window.open('https://www.facebook.com/sprm.benci.rasuah/', '_system', 'location=yes'); return false">@SPRMMalaysia</a>
      </ion-row>
       <ion-row>
      <img src="assets/images/socialTwitter.png"> <a onclick="window.open('https://twitter.com/SPRMMalaysia/', '_system', 'location=yes'); return false">@SPRMMalaysia</a>
      </ion-row>
 
       <ion-row>
      <img src="assets/images/socialYoutube.png"> <a onclick="window.open('https://www.youtube.com/user/ODVMACC', '_system', 'location=yes'); return false;">@SPRMMalaysia</a>
      </ion-row>

      <ion-row>
      <img src="assets/images/socialWeb.png"> <a onclick="window.open('https://www.sprm.gov.my', '_system', 'location=yes'); return false">www.sprm.gov.my</a>
      </ion-row>


    </div>
  </ion-item>
</ion-list>






</ion-content>


<ion-footer class="footer-apps">

  <ion-grid>
  <ion-row>


    <ion-col width-100 text-right class="footer-logo"><img src="assets/images/tldm.png" > <img src="assets/images/lkim.png" > <img src="assets/images/maritim.png" ></ion-col>


  </ion-row>
  </ion-grid>

</ion-footer>