page-prihatin {
.content-wrap {
    background: #FFF;
    padding: 10px;
    /* border-radius: 4px; */
}

.dermaButton{
    margin-top: 15px;
    background: #00af4f;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 4px;
    width: 100%;
}


ion-list.derma-content {
    border-top: 1px solid #BCBEC0;
    border-bottom: 1px solid #BCBEC0;
    padding: 25px 0px;
    margin: 10px 0px;
    font-size: 1.3rem;
}

.derma-content {
    border-top: 1px solid #BCBEC0;
    border-bottom: 1px solid #BCBEC0;
    padding: 25px 0px;
    margin: 10px 0px;
    font-size: 1.3rem;
}

.derma-left {
    border-right: 3px solid #000000;
}

ion-item.amountSumbangan {
    border: 1px solid #006838;
    border-radius: 4px;
    margin-top: 15px;
}
.small-caption {
    font-size: 1rem;
    margin-top: 10px;
}

.tnc {
    font-size: 1.3rem;
}
.item-block .item-inner {
    border-bottom: none !important;
}
}
