<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ "INFO_CUACA" | translate }}</ion-title>
            <ion-buttons end class="logo-top">
       <img src="assets/images/logo.png">
    </ion-buttons>  
    
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div class="cuaca-wrap" *ngIf="posts">
        <div class="cuaca-minggu-wrap">
            <div class="cuaca-heading">RAMALAN MINGGUAN</div>
            <div class="cuaca-minggu-data">
                <ion-row>
                    <ion-col *ngFor="let day of daily" >{{ moment.unix(day.time).format('ddd') }} <img src="assets/images/icons/{{day.icon}}.png"> {{day.temperatureMin}}°</ion-col>
  
                </ion-row>
            </div>
        </div>
        <div class="cuaca-today">
            <ion-row class="current-location-name">{{posts.location.name}}</ion-row>
            <ion-row class="current-date">
                <ion-col width-100 text-left class="date-top">
    
                    {{ moment().format('dddd') }}
                    {{ moment().format('DD MMM YYYY') }}
                </ion-col>
            </ion-row>
            <div class="cuaca-today-detail">
                <ion-row class="cuaca-pagi">
                    <ion-col width-20>Pagi</ion-col>
                    <ion-col class="detail-icon"><img src="assets/images/icons/{{pagi.icon}}.png"></ion-col>
                    <ion-col class="suhu-today">{{pagi.temperature}}°</ion-col>
                </ion-row>
                <ion-row class="cuaca-petang">
                    <ion-col width-20>Petang</ion-col>
                    <ion-col class="detail-icon"><img src="assets/images/icons/{{petang.icon}}.png"></ion-col>
                    <ion-col class="suhu-today">{{petang.temperature}}°</ion-col>
                </ion-row>
                <ion-row class="cuaca-malam">
                    <ion-col width-20>Malam</ion-col>
                    <ion-col class="detail-icon"><img src="assets/images/icons/{{malam.icon}}.png"></ion-col>
                    <ion-col class="suhu-today">{{malam.temperature}}°</ion-col>
                </ion-row>
            </div>
        </div>
    </div>

</ion-content>



<ion-footer class="footer-apps">

  <ion-grid>
  <ion-row>

<ion-col width-100 text-right class="footer-logo"><img src="assets/images/footerLogo.png" > </ion-col>

  </ion-row>
  </ion-grid>

</ion-footer>